body {
    background-color: lightgreen;
}

h1 {
    text-align: center;
    color: black;
    background-color: white;
}

.logo {
    display: block;
    margin: 24px auto;
}

p {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.main-img {
    text-align: center;
}

.bck {
    text-align: right;
}
.btn .link {
    color: black;
}
.ingredients{
    background-color: white;
    margin: 0px auto;
    padding: 8px 16px;
    border: solid black 1px;
    width: 500px;
}

.steps{
    background-color: white;
    margin: 20px auto;
    padding: 8px 16px;
    border: solid black 1px;
    width: 500px;
}